:root {
  --lightGrey: #CBD9DB;
  --darkGrey: #7B969D;
  --darkblue: #30667D;
  --darkBrown: #7E4F3C;
  --lightBrown: #AA7555;
  --pinky: #AC8A80;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans',
sans-serif; */

body {
  background-color: #cfd8dd;
}

h1 {
  font-family: 'Open sans', sans-serif;
  display: flex;
  justify-content: center;
}


.sectionContainer {
  background-color: #fff;
  width: 500px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 10px 6px -6px var(--darkGrey);
  color: rgb(44, 43, 43);
  font-family: 'Open sans', sans-serif;
}

.btn {
  font-size: 20px;
  font-family: 'Open sans', sans-serif;
  background-color: var(--darkblue);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 0px 15px 0px;  
  cursor: pointer;
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.person {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-bottom: 20px;
}

.personDesc {
  font-family: 'Open sans', sans-serif;
  padding-bottom: 5px;
  padding-left: 20px;
}

.age {
  margin-top: -14px;
  color: var(--darkGrey);
}

.btn2 {
  background-color: #7E4F3C;
  display: none;
}